.input-field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    outline: none;
    text-align: left;
    font-size: 16px;
}


.form-container {
    background-color: white;
    border: 2px solid transparent;
    min-height: 500px;
    height: 100%;
    padding: 60px 100px
}

.input-field {
    transition: all .1s linear;
}

.input-field:focus {
    border: none;
}

.field-sets-focus {
    transition: all .1s linear;
}

fieldset {
    transition: all .1s linear;
}

.field-sets-focus {
    padding-bottom: 3px;
    border: 1.6px solid #49aaff;
    font-size: 11px;
}

.legends {
    color: rgb(37 37 149 / 39%);
    /*font-weight: bold;*/
    /*font-size: 13px;*/
    margin: 0;
    width: auto;
    font-size: 14px;
    transition: all .1s linear;
}

.legends-focus {
    color: rgb(185, 185, 190);
    /*font-weight: bold;*/
    /*font-size: 13px;*/
    margin: 0;
    width: auto;
    transition: all .1s linear;
    font-size: 11px;
}

.form-field-wrapper {
    margin: 0;
    margin-top: 20px;
    height: auto;
}

@media only screen and (max-width: 450px) {

    .legends {
        font-size: 4px;
    }

    .field-sets > * {
        font-size: 10px;
    }

    #term-div {
        font-size: 10px;
    }

    #links, #links > * {
        font-size: 8px;
    }

    #links > button {
        font-size: 10px;
    }


    .remove-padding-under-450 {
        padding: 40px;
    }

}

.form-field-wrapper {
    max-height: 50px;
    min-height: 50px;
}

.register-form-describe {
    position: relative;
    z-index: 1;
    background-color: rgb(254 254 254 / 86%);
    background-size: cover;
    background-repeat: no-repeat
}

.error-span > * {
    padding: 0;
}

.form-title > span {
    margin: 0 auto;
    font-weight: bolder;
    -webkit-animation: form-title 3s linear 1;
            animation: form-title 3s linear 1;
    font-style: italic;
}

@-webkit-keyframes form-title {
    0% {
        margin: 0;
        width: 0;
        overflow: hidden;
    }
    30% {
        width: 100%;
    }
    100% {
        margin: 0 auto;
    }

}

@keyframes form-title {
    0% {
        margin: 0;
        width: 0;
        overflow: hidden;
    }
    30% {
        width: 100%;
    }
    100% {
        margin: 0 auto;
    }

}

